body {
    font-family: "Montserrat Alternates", sans-serif; 
}

.logo {
    height: 40px; 
    width: 40px; 
}

.custom-header-bg {
    background-color: #EDEFF2 !important; 
}

.custom-footer-bg {
  background-color: #EDEFF2 !important; 
  border-radius: 20px;
}

.custom-dropdown-bg {
  background-color: #EDEFF2 !important; 
}
.navbar {
    height: 130px;
    border-radius: 20px;
}

.navbar, h1, h2, h3, h4, .btn, p {
    font-family: "Montserrat Alternates", sans-serif !important;
}
